In [2]:
# Load libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import read_csv, set_option
from pandas.plotting import scatter_matrix
import seaborn as sns
from sklearn.preprocessing import StandardScaler
import datetime
import pandas_datareader as dr

#Import Model Packages 
from sklearn.cluster import KMeans, AgglomerativeClustering,AffinityPropagation, DBSCAN
from scipy.cluster.hierarchy import fcluster
from scipy.cluster.hierarchy import dendrogram, linkage, cophenet
from scipy.spatial.distance import pdist
from sklearn.metrics import adjusted_mutual_info_score
from sklearn import cluster, covariance, manifold

from scipy.sparse import csr_matrix
import sklearn
from sklearn.decomposition import TruncatedSVD

#Other Helper Packages and functions
import matplotlib.ticker as ticker
from itertools import cycle

#Diable the warnings
import warnings
warnings.filterwarnings('ignore')

Dataset http://www2.informatik.uni-freiburg.de/~cziegler/BX/
Book crossing dataset

In [4]:
# Load dataset
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# dataset = read_csv('/content/drive/My Drive/SP500Data.csv',index_col=0)

In [ ]:
# type(dataset)

pandas.core.frame.DataFrame

In [5]:
# Book  
books = pd.read_csv('/content/drive/My Drive/BX-Books.csv', sep=';', error_bad_lines=False, encoding="latin-1",low_memory=False)

books.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']

# Users
users = pd.read_csv('/content/drive/My Drive/BX-Users.csv', sep=';', error_bad_lines=False, encoding="latin-1",low_memory=False)

users.columns = ['userID', 'Location', 'Age']


# Rating
ratings = pd.read_csv('/content/drive/My Drive/BX-Book-Ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1",low_memory=False)

ratings.columns = ['userID', 'ISBN', 'bookRating']

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\nSkipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\nSkipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\nSkipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'

In [6]:
ratings.head()

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

In [7]:
users.head()

   userID                            Location   Age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

In [8]:
books.head()

         ISBN  ...                                          imageUrlL
0  0195153448  ...  http://images.amazon.com/images/P/0195153448.0...
1  0002005018  ...  http://images.amazon.com/images/P/0002005018.0...
2  0060973129  ...  http://images.amazon.com/images/P/0060973129.0...
3  0374157065  ...  http://images.amazon.com/images/P/0374157065.0...
4  0393045218  ...  http://images.amazon.com/images/P/0393045218.0...

[5 rows x 8 columns]

In [9]:
# Merge data 

# Book rating
combine_book_rating = pd.merge(ratings,books,on='ISBN')

columns = ['yearOfPublication', 'publisher', 'bookAuthor','imageUrlS','imageUrlM','imageUrlL']

combine_book_rating = combine_book_rating.drop(columns,axis=1)

combine_book_rating.head()

   userID        ISBN  bookRating             bookTitle
0  276725  034545104X           0  Flesh Tones: A Novel
1    2313  034545104X           5  Flesh Tones: A Novel
2    6543  034545104X           0  Flesh Tones: A Novel
3    8680  034545104X           5  Flesh Tones: A Novel
4   10314  034545104X           9  Flesh Tones: A Novel

DATA PROCESSING

In [10]:
combine_book_rating = combine_book_rating.dropna(axis = 0, subset = ['bookTitle'])

In [11]:
book_ratingCount = (combine_book_rating.
     groupby(by = ['bookTitle'])['bookRating'].
     count().
     reset_index().
     rename(columns = {'bookRating': 'totalRatingCount'})
     [['bookTitle', 'totalRatingCount']]
    )

In [12]:
book_ratingCount.head()

                                           bookTitle  totalRatingCount
0   A Light in the Storm: The Civil War Diary of ...                 4
1                              Always Have Popsicles                 1
2               Apple Magic (The Collector's series)                 1
3   Ask Lily (Young Women of Faith: Lily Series, ...                 1
4   Beyond IBM: Leadership Marketing and Finance ...                 1

In [13]:
rating_with_totalRatingCount = combine_book_rating.merge(book_ratingCount, 
                                                         left_on = 'bookTitle', 
                                                         right_on = 'bookTitle', 
                                                         how = 'left')
rating_with_totalRatingCount.head()

   userID        ISBN  bookRating             bookTitle  totalRatingCount
0  276725  034545104X           0  Flesh Tones: A Novel                60
1    2313  034545104X           5  Flesh Tones: A Novel                60
2    6543  034545104X           0  Flesh Tones: A Novel                60
3    8680  034545104X           5  Flesh Tones: A Novel                60
4   10314  034545104X           9  Flesh Tones: A Novel                60

In [15]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)
print(book_ratingCount['totalRatingCount'].describe())

count   241071.00
mean         4.28
std         16.74
min          1.00
25%          1.00
50%          1.00
75%          3.00
max       2502.00
Name: totalRatingCount, dtype: float64

In [16]:
print(book_ratingCount['totalRatingCount'].quantile(np.arange(.9, 1, .01)))

0.90    7.00
0.91    8.00
0.92    9.00
0.93   10.00
0.94   11.00
0.95   13.00
0.96   16.00
0.97   20.00
0.98   29.00
0.99   50.00
Name: totalRatingCount, dtype: float64

In [17]:
popularity_threshold = 50
rating_popular_book = rating_with_totalRatingCount.query('totalRatingCount >= @popularity_threshold')
rating_popular_book.head()

   userID        ISBN  bookRating             bookTitle  totalRatingCount
0  276725  034545104X           0  Flesh Tones: A Novel                60
1    2313  034545104X           5  Flesh Tones: A Novel                60
2    6543  034545104X           0  Flesh Tones: A Novel                60
3    8680  034545104X           5  Flesh Tones: A Novel                60
4   10314  034545104X           9  Flesh Tones: A Novel                60

In [18]:
rating_popular_book.count

<bound method DataFrame.count of          userID        ISBN  ...                   bookTitle totalRatingCount
0        276725  034545104X  ...        Flesh Tones: A Novel               60
1          2313  034545104X  ...        Flesh Tones: A Novel               60
2          6543  034545104X  ...        Flesh Tones: A Novel               60
3          8680  034545104X  ...        Flesh Tones: A Novel               60
4         10314  034545104X  ...        Flesh Tones: A Novel               60
...         ...         ...  ...                         ...              ...
1029947  274061  1551663147  ...                       Fever               68
1030363  274808  0449701913  ...                  Homecoming              137
1030824  275970  0865714215  ...              Stormy Weather              103
1030868  275970  1586210661  ...      Me Talk Pretty One Day              457
1031042  276563  0027197107  ...  The Cat Who Went to Heaven               55

[288740 rows x 5 columns]>

In [19]:
combined = rating_popular_book.merge(users, left_on = 'userID', right_on = 'userID', how = 'left')

# Extract location 
us_canada_user_rating = combined[combined['Location'].str.contains("usa|canada")]

us_canada_user_rating=us_canada_user_rating.drop('Age', axis=1)

us_canada_user_rating.head()

   userID        ISBN  ...  totalRatingCount                           Location
0  276725  034545104X  ...                60                  tyler, texas, usa
1    2313  034545104X  ...                60              cincinnati, ohio, usa
2    6543  034545104X  ...                60           strafford, missouri, usa
3    8680  034545104X  ...                60  st. charles county, missouri, usa
4   10314  034545104X  ...                60             beaverton, oregon, usa

[5 rows x 6 columns]

In [20]:
us_canada_user_rating.shape

(251615, 6)

In [24]:
print('Initial dataframe shape {0}'.format(us_canada_user_rating.shape))
if not us_canada_user_rating[us_canada_user_rating.duplicated(['userID', 'bookTitle'])].empty:
    initial_rows = us_canada_user_rating.shape[0]

    print('Initial dataframe shape {0}'.format(us_canada_user_rating.shape))

    us_canada_user_rating = us_canada_user_rating.drop_duplicates(['userID', 'bookTitle'])

    current_rows = us_canada_user_rating.shape[0]

    print('New dataframe shape {0}'.format(us_canada_user_rating.shape))

    print('Removed {0} rows'.format(initial_rows - current_rows))

Initial dataframe shape (248949, 6)

In [25]:
us_canada_user_rating_pivot = us_canada_user_rating.pivot(index = 'bookTitle', columns = 'userID', values = 'bookRating').fillna(0)

us_canada_user_rating_matrix = csr_matrix(us_canada_user_rating_pivot.values)

In [26]:
us_canada_user_rating_pivot

userID                                              8       ...  278854
bookTitle                                                   ...
10 Lb. Penalty                                        0.00  ...    0.00
16 Lighthouse Road                                    0.00  ...    0.00
1984                                                  0.00  ...    0.00
1st to Die: A Novel                                   0.00  ...    0.00
2010: Odyssey Two                                     0.00  ...    0.00
...                                                    ...  ...     ...
Zen and the Art of Motorcycle Maintenance: An I...    0.00  ...    0.00
Zoya                                                  0.00  ...    0.00
\O\" Is for Outlaw"                                   0.00  ...    0.00
\Surely You're Joking, Mr. Feynman!\": Adventur...    0.00  ...    0.00
stardust                                              0.00  ...    0.00

[2442 rows x 40017 columns]

In [29]:
us_canada_user_rating_matrix

<2442x40017 sparse matrix of type '<class 'numpy.float64'>'
	with 97607 stored elements in Compressed Sparse Row format>

In [36]:
us_canada_user_rating_pivot.shape

(2442, 40017)

In [30]:
from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')

model_knn.fit(us_canada_user_rating_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [43]:
# 1
query_index = np.random.choice(us_canada_user_rating_pivot.shape[0])

distances, indices = model_knn.kneighbors(us_canada_user_rating_pivot.iloc[query_index, :].values.reshape(1, -1), n_neighbors = 6)
#distances, indices = model_knn.kneighbors(us_canada_user_rating_pivot.iloc[1907, :].values.reshape(1, -1), n_neighbors = 6)

for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(us_canada_user_rating_pivot.index[query_index]))
        #print('Recommendations for {0}:\n'.format(us_canada_user_rating_pivot.index[1907]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, us_canada_user_rating_pivot.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for The Joy Luck Club:

1: The Kitchen God's Wife, with distance of 0.8924720231590498:
2: The Hundred Secret Senses, with distance of 0.8925939736968544:
3: H Is for Homicide (Kinsey Millhone Mysteries (Paperback)), with distance of 0.9184359634796739:
4: Reader, with distance of 0.9267287428495845:
5: Plague Dogs, with distance of 0.9276392973005907:

In [44]:
us_canada_user_rating_pivot2 = us_canada_user_rating.pivot(index = 'userID', columns = 'bookTitle', values = 'bookRating').fillna(0)

In [45]:
us_canada_user_rating_pivot2.head()

bookTitle  10 Lb. Penalty  ...  stardust
userID                     ...
8                    0.00  ...      0.00
9                    0.00  ...      0.00
14                   0.00  ...      0.00
16                   0.00  ...      0.00
17                   0.00  ...      0.00

[5 rows x 2442 columns]

In [46]:
us_canada_user_rating_pivot2.shape

(40017, 2442)

In [55]:
X = us_canada_user_rating_pivot2.values.T
X.shape

(2442, 40017)

In [54]:
us_canada_user_rating_pivot2.values

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [56]:
import sklearn
from sklearn.decomposition import TruncatedSVD

SVD = TruncatedSVD(n_components=12, random_state=17)
matrix = SVD.fit_transform(X)
matrix.shape

(2442, 12)

In [57]:
import warnings
warnings.filterwarnings("ignore",category =RuntimeWarning)
corr = np.corrcoef(matrix)
corr.shape

(2442, 2442)

In [63]:
us_canada_book_title = us_canada_user_rating_pivot2.columns

us_canada_book_list = list(us_canada_book_title)

coffey_hands = us_canada_book_list.index("The Green Mile: Night Journey (Green Mile Series)")

#Green Mile: Night Journey (Green Mile Series)
#The Green Mile: Coffey's Hands (Green Mile Series)
print(coffey_hands)

1907

In [62]:
us_canada_book_title = us_canada_user_rating_pivot2.columns
us_canada_book_title.shape

list(us_canada_book_title)

['10 Lb. Penalty',
 '16 Lighthouse Road',
 '1984',
 '1st to Die: A Novel',
 '2010: Odyssey Two',
 '204 Rosewood Lane',
 '2061: Odyssey Three',
 '24 Hours',
 '2nd Chance',
 '3rd Degree',
 '4 Blondes',
 '50 Simple Things You Can Do to Save the Earth',
 '84 Charing Cross Road',
 'A 2nd Helping of Chicken Soup for the Soul (Chicken Soup for the Soul Series (Paper))',
 'A Beautiful Mind: The Life of Mathematical Genius and Nobel Laureate John Nash',
 'A Bend in the Road',
 'A Case of Need',
 'A Child Called \\It\\": One Child\'s Courage to Survive"',
 'A Civil Action',
 'A Clockwork Orange (Norton Paperback Fiction)',
 'A Cold Heart (Alex Delaware Novels (Paperback))',
 'A Cold Heart: An Alex Delaware Novel',
 'A Confederacy of Dunces',
 'A Confederacy of Dunces (Evergreen Book)',
 'A Cry In The Night',
 "A Cup of Tea (Ballantine Reader's Circle)",
 'A Dangerous Fortune',
 'A Darkness More Than Night',
 'A Day Late and a Dollar Short',
 'A Density of Souls',
 'A Fine Balance',
 'A Game of Thrones (A Song of Ice and Fire, Book 1)',
 'A Girl Named Zippy: Growing Up Small in Mooreland Indiana (Today Show Book Club #3)',
 'A Great Deliverance',
 'A Heartbreaking Work Of Staggering Genius : A Memoir Based on a True Story',
 'A Heartbreaking Work of Staggering Genius',
 'A Is for Alibi (Kinsey Millhone Mysteries (Paperback))',
 'A Kiss of Shadows (Meredith Gentry Novels (Paperback))',
 'A Knight in Shining Armor',
 'A Lesson Before Dying (Vintage Contemporaries (Paperback))',
 'A Light in the Window (The Mitford Years)',
 'A Little Princess',
 'A Long Fatal Love Chase',
 "A Maiden's Grave",
 'A Man Named Dave: A Story of Triumph and Forgiveness',
 'A Man in Full',
 'A Map of the World',
 'A Monk Swimming : A Memoir',
 'A Natural History of the Senses',
 'A New Song (Mitford Years (Paperback))',
 'A Night to Remember',
 'A Painted House',
 'A Passage to India',
 'A Patchwork Planet',
 "A Patchwork Planet (Ballantine Reader's Circle)",
 'A Perfect Stranger',
 'A Pirate Looks at Fifty',
 'A Place Called Freedom',
 'A Place of Execution',
 'A Portrait of the Artist As a Young Man',
 'A Prayer for Owen Meany',
 'A RIVER RUNS THROUGH IT AND OTHER STORIES : AND OTHER STORIES',
 "A Rose For Her Grave &amp; Other True Cases (Ann Rule's Crime Files)",
 'A Season Beyond a Kiss',
 "A Second Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series)",
 'A Secret Affair',
 'A Separate Peace',
 'A Short Guide to a Happy Life',
 'A Simple Plan',
 'A Small Death in Lisbon',
 'A Son of the Circus',
 'A Spell for Chameleon (Xanth Novels (Paperback))',
 'A Sudden Change of Heart',
 'A Swiftly Tilting Planet',
 'A Theory of Relativity',
 'A Thief of Time (Joe Leaphorn/Jim Chee Novels)',
 'A Thin Dark Line (Mysteries &amp; Horror)',
 "A Thousand Acres (Ballantine Reader's Circle)",
 'A Time to Kill',
 'A Traitor to Memory',
 'A Tree Grows in Brooklyn',
 "A Virtuous Woman (Oprah's Book Club (Paperback))",
 'A Walk Across America',
 'A Walk in the Woods: Rediscovering America on the Appalachian Trail',
 'A Walk in the Woods: Rediscovering America on the Appalachian Trail (Official Guides to the Appalachian Trail)',
 'A Walk to Remember',
 'A Widow for One Year',
 'A Widow for One Year : A Novel',
 'A Wind in the Door',
 'A Wizard of Earthsea (Earthsea Trilogy, Book 1)',
 'A Woman Betrayed',
 'A Woman of Substance',
 'A Wrinkle In Time',
 'A Wrinkle in Time',
 'A Year in Provence',
 'A Yellow Raft in Blue Water',
 'AGE OF INNOCENCE (MOVIE TIE-IN)',
 "ANGELA'S ASHES",
 'Abduction',
 'About Face',
 'About a Boy',
 'About a Boy (Movie Tie-In)',
 'Absolute Power',
 'Acceptable Risk',
 'Accident',
 'Accidental Tourist',
 'Accordion Crimes',
 'Acts of Malice',
 "Acts of War (Tom Clancy's Op Center (Paperback))",
 'Adventures of Huckleberry Finn',
 'Affinity',
 'After All These Years',
 'After Dark',
 'After the Fire',
 "Ahab's Wife: Or, The Star-Gazer: A Novel",
 'Airframe',
 'Alaska',
 'Alias Grace',
 'Alias Grace : A Novel',
 'Alive : The Story of the Andes Survivors (Avon Nonfiction)',
 'All Around the Town',
 'All Creatures Great and Small',
 'All He Ever Wanted',
 'All I Need Is You',
 'All I Need to Know I Learned from My Cat',
 'All I Really Need to Know',
 'All I Really Need to Know I Learned in Kindergarten: Uncommon Thoughts on Common Things',
 'All Quiet on the Western Front',
 'All That Glitters (Landry)',
 'All That Remains (Kay Scarpetta Mysteries (Paperback))',
 'All Things Wise and Wonderful',
 'All Through the Night (Holiday Classics)',
 "All over but the Shoutin'",
 'All the Pretty Horses (The Border Trilogy, Vol 1)',
 "All the Queen's Men",
 'Along Came a Spider (Alex Cross Novels)',
 'American Gods',
 'American Gods: A Novel',
 'American Psycho (Vintage Contemporaries)',
 'Amsterdam : A Novel',
 'Amy and Isabelle : A novel',
 'An Accidental Woman',
 'An Equal Music',
 'An Indecent Obsession',
 'An Instance of the Fingerpost',
 'And Ladies of the Club',
 'And Never Let Her Go : Thomas Capano: The Deadly Seducer',
 'And Then There Were None',
 'And Then There Were None : A Novel',
 'And Then You Die',
 'Angel',
 'Angel Falls',
 "Angela's Ashes (MMP) : A Memoir",
 "Angela's Ashes: A Memoir",
 'Angelas Ashes',
 'Angels',
 'Angels &amp; Demons',
 'Angels Flight (Detective Harry Bosch Mysteries)',
 'Angle of Repose (Contemporary American Fiction)',
 'Angry Housewives Eating Bon Bons',
 "Angry Housewives Eating Bon Bons (Ballantine Reader's Circle)",
 'Angus, Thongs and Full-Frontal Snogging: Confessions of Georgia Nicolson',
 "Anil's Ghost (Vintage International)",
 'Animal Dreams',
 'Animal Farm',
 'Animal Husbandry',
 'Anne Frank: The Diary of a Young Girl',
 'Anne of Avonlea (Anne of Green Gables Novels (Paperback))',
 'Anne of Green Gables',
 'Anne of Green Gables (Anne of Green Gables Novels (Paperback))',
 'Anne of Ingleside (Anne of Green Gables Novels (Paperback))',
 'Anne of Windy Poplars (Anne of Green Gables Novels (Paperback))',
 'Anne of the Island',
 "Anne's House of Dreams",
 'Another City, Not My Own: A Novel in the Form of a Memoir',
 'Another Roadside Attraction',
 'Answered Prayers',
 'Anthem',
 'Apocalipstick',
 'Apollo 13 : Lost Moon',
 'Apollyon: The Destroyer Is Unleashed (Left Behind No. 5)',
 'Archangel',
 "Are You There God?  It's Me, Margaret",
 'Artemis Fowl (Artemis Fowl, Book 1)',
 'As Nature Made Him: The Boy Who Was Raised As a Girl',
 'As the Crow Flies',
 'Ashes to Ashes',
 'Asking for Trouble: A Novel',
 'Assassins: Assignment: Jerusalem, Target: Antichrist (Left Behind No. 6)',
 'At Home in Mitford (The Mitford Years)',
 'At Risk',
 'Atlantis Found',
 'Atlas Shrugged',
 'Atonement : A Novel',
 'Atonement: A Novel',
 'Autobiography of a Face',
 'Awakening',
 'B Is for Burglar (Kinsey Millhone Mysteries (Paperback))',
 'BAG OF BONES : A NOVEL',
 'BODY FARM',
 'Babyhood',
 'Babyville',
 "Bachelor Brothers' Bed &amp; Breakfast",
 'Back Roads',
 "Back When We Were Grownups : A Novel (Ballantine Reader's Circle)",
 'Back When We Were Grownups: A Novel',
 'Bad Boy',
 'Bad Heir Day',
 'Bad Love (Alex Delaware Novels (Paperback))',
 'Bag of Bones',
 'Balzac and the Little Chinese Seamstress',
 'Balzac and the Little Chinese Seamstress : A Novel',
 "Band of Brothers : E Company, 506th Regiment, 101st Airborne from Normandy to Hitler's Eagle's Nest",
 'Bare Bones : A Novel',
 'Barrel Fever : Stories and Essays (Barrel Fever)',
 'Basket Case',
 'Bastard Out of Carolina',
 'Battlefield Earth: A Saga of the Year 3000',
 'Baudolino',
 'Be Cool',
 'Beach House',
 'Beach Music',
 'Bearing an Hourglass (Incarnations of Immortality (Paperback))',
 'Beauty',
 'Bee Season: A Novel',
 'Before I Say Good-Bye',
 'Before I Say Good-Bye : A Novel',
 "Before Women Had Wings (Ballantine Reader's Circle)",
 'Before and After',
 'Behind the Scenes at the Museum',
 'Behind the Scenes at the Museum : A Novel',
 'Bel Canto',
 'Bel Canto: A Novel',
 'Belinda',
 'Bell Jar',
 'Bellwether',
 'Beloved',
 'Beloved (Plume Contemporary Fiction)',
 'Beneath the Skin',
 'Betrayal in Death',
 'Between Friends',
 'Beyond Eden',
 "Big Cherry Holler: A Big Stone Gap Novel (Ballantine Reader's Circle)",
 'Big Fish',
 'Big Stone Gap',
 "Big Stone Gap: A Novel (Ballantine Reader's Circle)",
 'Big Trouble',
 'Billy',
 'Billy Straight : A Novel',
 "Bio-Strike (Tom Clancy's Power Plays (Paperback))",
 'Bird by Bird: Some Instructions on Writing and Life',
 'Birdman',
 'Birds of Prey: A Novel of Suspense',
 'Birthright',
 'Bitter Harvest',
 'Bitter Sweet',
 'Bittersweet',
 'Black Friday',
 'Black Hawk Down (Movie Tie-in)',
 'Black Hawk Down: A Story of Modern War',
 'Black House',
 'Black Lightning',
 'Black Like Me',
 'Black Notice',
 'Black Sunday',
 'Black Water',
 'Black and Blue',
 'Black and Blue : A Novel',
 'Blackberry Wine',
 'Blackbird: A Childhood Lost and Found',
 'Blackout',
 'Blackwood Farm (Rice, Anne, Vampire Chronicles.)',
 'Bleachers',
 'Bless Me, Ultima',
 'Blessings',
 'Blessings : A Novel',
 'Blind Faith',
 'Blindness (Harvest Book)',
 'Blindsight',
 'Blindsighted',
 'Blood Lure',
 'Blood Orchid',
 'Blood Shot (V.I. Warshawski Novels (Paperback))',
 'Blood Work',
 'Blood and Gold (Rice, Anne, Vampire Chronicles.)',
 'Bloodline',
 'Bloodstream',
 'Bloodsucking Fiends: A Love Story',
 'Bloody Bones (Anita Blake Vampire Hunter (Paperback))',
 'Blow Fly: A Scarpetta Novel',
 'Blue Diary',
 'Blue Highways a Journey Into America',
 'Blue Moon',
 'Blue Shoe',
 'Body of Evidence',
 'Body of Evidence (Kay Scarpetta Mysteries (Paperback))',
 'Body of Lies',
 'Book Club',
 'Booked to Die (Cliff Janeway Novels (Paperback))',
 'Bookends : A Novel',
 'Border Music',
 'Born in Fire',
 'Born in Ice',
 'Born in Shame',
 'Bourne Identity',
 "Boy's Life",
 'Brain Droppings',
 'Brave New World',
 'Brazen Virtue',
 'Breach of Promise',
 'Breakfast of Champions',
 "Breaking Point (Tom Clancy's Net Force, No. 4)",
 'Breath, Eyes, Memory',
 'Breathing Lessons',
 'Briar Rose',
 'Brideshead Revisited',
 'Bridge to Terabithia',
 'Bridget Jones : The Edge of Reason',
 "Bridget Jones's Diary",
 'Bridget Jones: The Edge of Reason',
 'Burn Factor',
 'Burn Marks (V.I. Warshawski Novels (Paperback))',
 'Butterfly (Orphans)',
 'By the Light of the Moon',
 'Bygones',
 'C Is for Corpse (Kinsey Millhone Mysteries (Paperback))',
 "CAT'S EYE",
 'CHOCOLATE FOR A WOMANS SOUL : 77 STORIES TO FEED YOUR SPIRIT AND WARM YOUR HEART (Chocolate)',
 'CRY IN THE NIGHT, A',
 'Cabin',
 'Call of the Wild',
 'Can You Keep a Secret?',
 'Candide (Penguin Classics)',
 'Cane River',
 "Cane River (Oprah's Book Club (Paperback))",
 'Cannery Row',
 'Capital Crimes',
 'Caribbean',
 'Carnal Innocence',
 'Carolina Moon',
 'Carrie',
 'Carter Beats the Devil',
 'Castles',
 'Cat &amp; Mouse (Alex Cross Novels)',
 'Cat and Mouse',
 "Cat's Cradle",
 "Cat's Eye",
 'Catch 22',
 'Catch Me If You Can: The True Story of a Real Fake',
 'Catering to Nobody',
 'Catherine, Called Birdy (Trophy Newbery)',
 'Cause Celeb',
 'Cause of Death',
 'Cavedweller',
 'Celestial Navigation',
 'Certain Prey',
 'Changes',
 'Chapterhouse Dune (Dune Chronicles, Book 6)',
 'Charade',
 'Charlie and the Chocolate Factory',
 "Charlotte's Web",
 "Charlotte's Web (Trophy Newbery)",
 'Charming Billy',
 'Charms for Easy Life',
 'Chasing Cezanne',
 'Chasing the Dime',
 'Cheaper by the Dozen',
 'Cheet (Plume Books)',
 'Chesapeake',
 'Chesapeake Blue (Quinn Brothers (Hardcover))',
 'Chicken Soup for the College Soul : Inspiring and Humorous Stories for College Students (Chicken Soup for the Soul)',
 "Chicken Soup for the Mother's Soul (Chicken Soup for the Soul Series (Paper))",
 "Chicken Soup for the Pet Lover's Soul (Chicken Soup for the Soul)",
 'Chicken Soup for the Soul (Chicken Soup for the Soul)',
 'Chicken Soup for the Teenage Soul (Chicken Soup for the Soul)',
 'Chicken Soup for the Teenage Soul II (Chicken Soup for the Soul Series)',
 "Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series (Paper))",
 'Child of My Heart',
 "Childhood's End",
 'Children of Dune (Dune Chronicles, Book 3)',
 'Chocolat',
 'Choke',
 'Chopping Spree',
 'Chosen Prey',
 'Christine',
 'Christmas Box (Christmas Box Trilogy)',
 'Christy',
 'Chromosome 6',
 'Circle of Friends',
 'Circle of Three: A Novel',
 'Circus of the Damned (Anita Blake Vampire Hunter (Paperback))',
 'City of Bones',
 'City of Golden Shadow (Otherland, Volume 1)',
 'City of Light',
 'Clan of the Cave Bear',
 'Claws and Effect',
 'Clear and Present Danger',
 'Clear and Present Danger (Jack Ryan Novels)',
 'Cloud Nine',
 'Club Dead (Southern Vampire Mysteries)',
 'Coast Road: A Novel',
 'Coastliners : A Novel',
 'Code to Zero',
 'Cold Blooded',
 'Cold Case',
 'Cold Fire',
 'Cold Mountain',
 'Cold Mountain : A Novel',
 'Cold Paradise (Stone Barrington Novels (Paperback))',
 'Cold Sassy Tree',
 'Colony',
 'Color Purple',
 'Come to Grief',
 'Comeback',
 'Coming Home',
 'Communion : A True Story',
 'Compelling Evidence',
 'Confessions of a Shopaholic',
 'Confessions of a Shopaholic (Summer Display Opportunity)',
 'Confessions of a Sociopathic Social Climber : The Katya Livingston Chronicles (Katya Livingston Chronicles (Hardcover))',
 'Confessions of an Ugly Stepsister : A Novel',
 'Congo',
 'Considering Kate (The Stanislaskis) (Silhouette Special Edition)',
 'Contact',
 'Contagion',
 'Conversations with God : An Uncommon Dialogue (Book 1)',
 'Coraline',
 "Cordina's Crown Jewel",
 "Corelli's Mandolin : A Novel",
 'Couplehood',
 'Courting Trouble',
 'Coyote Blue',
 'Coyote Waits (Joe Leaphorn/Jim Chee Novels)',
 'Cradle and All',
 'Crazy for You',
 'Crazy in Alabama',
 'Creature',
 'Creed for the Third Millennium',
 'Critical Judgment',
 'Critical Mass',
 'Crocodile on the Sandbank',
 'Crooked Little Heart',
 'Crossings',
 'Crow Lake (Today Show Book Club #7)',
 'Cruel &amp; Unusual (Kay Scarpetta Mysteries (Paperback))',
 'Cry Wolf',
 'Cry to Heaven',
 "Cry, the Beloved Country (Oprah's Book Club)",
 'Cryptonomicon',
 'Crystal Line',
 'Cuba Libre',
 'Cujo',
 "Cybernation (Tom Clancy's Net Force, No. 6)",
 'D Is for Deadbeat (Kinsey Millhone Mysteries (Paperback))',
 'DAUGHTER OF TIME',
 'DEAD BY SUNSET : DEAD BY SUNSET',
 'Daddy',
 "Daddy's Little Girl",
 'Daisy Fay and the Miracle Man',
 'Dance Hall of the Dead (Joe Leaphorn Novels)',
 'Dance upon the Air (Three Sisters Island Trilogy)',
 'Dances With Wolves',
 'Dandelion Wine (Grand Master Editions)',
 'Dangerous',
 'Dangerous to Know',
 'Daring to Dream',
 'Dark Angel',
 'Dark Horse',
 'Dark Lady',
 'Dark Paradise',
 'Dark Rivers of the Heart',
 'Dark Water (Mira Romantic Suspense)',
 'Darkest Hour (Cutler)',
 'Darkfall',
 'Darkness',
 "Darwin's Radio",
 'Das Parfum: Die Geschichte Eines Morders',
 'Dating Big Bird',
 'Dating Game',
 'Dating Without Novocaine (Red Dress Ink)',
 'Daughter of Fortune',
 "Daughter of Fortune : A Novel (Oprah's Book Club (Hardcover))",
 'Daughter of Fortune: A Novel',
 'Dave Barry in Cyberspace',
 "Dave Barry's Greatest Hits",
 'Dawn (Cutler)',
 'Day of Confession',
 'Daybreak',
 'Dazzle',
 'Dead Aim',
 'Dead Even',
 'Dead Famous',
 'Dead Ringer',
 'Dead Run',
 'Dead Sleep',
 'Dead Until Dark (Southern Vampire Mysteries)',
 'Dead in the Water',
 'Deadly Decisions',
 'Death du Jour',
 'Death in Holy Orders : An Adam Dalgliesh Mystery',
 'Death of A Salesman',
 'Debt of Honor',
 'Debt of Honor (Jack Ryan Novels)',
 'Deception Point',
 'Deception on His Mind',
 'Decider',
 'Deck the Halls',
 'Deck the Halls (Holiday Classics)',
 'Deep South',
 'Degree of Guilt',
 'Deja Dead',
 'Demolition Angel',
 'Demon Seed',
 'Der Vorleser',
 'Desecration: Antichrist Takes the Throne (Left Behind No. 9)',
 'Desert Solitaire',
 'Desperation',
 'Detective: A Novel',
 'Devices and Desires',
 "Devil's Waltz (Alex Delaware Novels (Paperback))",
 'Diary of a Mad Bride (Summer Display Opportunity)',
 'Different Seasons',
 'Different Seasons (Signet)',
 'Digital Fortress : A Thriller',
 'Dinner at the Homesick Restaurant',
 "Dirk Gently's Holistic Detective Agency",
 'Dirty Jokes and Beer : Stories of the Unrefined',
 'Disclosure',
 'Disgrace',
 'Disobedience: A Novel',
 'Distant Shores',
 'Divine Secrets of the Ya-Ya Sisterhood : A Novel',
 'Divine Secrets of the Ya-Ya Sisterhood: A Novel',
 'Dog Handling',
 'Doing Good',
 'Dolores Claiborne',
 "Don't Let's Go to the Dogs Tonight : An African Childhood",
 "Don't Stand Too Close to a Naked Man",
 "Don't Sweat the Small Stuff and It's All Small Stuff : Simple Ways to Keep the Little Things from Taking Over Your Life (Don't Sweat the Small Stuff Series)",
 'Doomsday Book',
 'Downtown',
 "Dr. Atkins' New Diet Revolution",
 'Dr. Death (Alex Delaware Novels (Paperback))',
 'Dr. Death: A Novel',
 'Dracula',
 'Dracula (Signet Classics (Paperback))',
 'Dragon Tears',
 'Dragonflight (Dragonriders of Pern Trilogy (Paperback))',
 'Dragonfly in Amber',
 'Dragons of Autumn Twilight (Dragonlance Chronicles, Vol 1)',
 'Dragonsdawn',
 'Dream Country',
 'Dreamcatcher',
 'Driving Force',
 'Drowning Ruth',
 "Drowning Ruth (Oprah's Book Club)",
 'Drums of Autumn',
 "Dude, Where's My Country?",
 'Dune',
 'Dune (Remembering Tomorrow)',
 'Dune Messiah (Dune Chronicles, Book 2)',
 'Dust to Dust',
 'Dying for Chocolate (Culinary Mysteries (Paperback))',
 'Dying to Please',
 'E Is for Evidence: A Kinsey Millhone Mystery (Kinsey Millhone Mysteries (Paperback))',
 'EVERYTHING SHE EVER WANTED',
 'East of Eden',
 "East of Eden (Oprah's Book Club)",
 'East of the Mountains',
 'East of the Mountains (Vintage Contemporaries (Paperback))',
 'Easy Prey',
 'Eaters of the Dead',
 'Eats, Shoots &amp; Leaves: The Zero Tolerance Approach to Punctuation',
 'Echoes',
 'Eden Close',
 "Einstein's Dreams",
 'Eleventh Hour: An FBI Thriller (FBI Thriller (Jove Paperback))',
 'Elfstones of Shannara',
 'Ella Minnow Pea: A Novel in Letters',
 'Ellen Foster',
 'Embraced by the Light',
 'Emma',
 'Empire Falls',
 'Empty Promises',
 "Enchanters' End Game (The Belgariad, Book 5)",
 'Enchantment',
 'Endangered Species (Anna Pigeon Mysteries (Paperback))',
 "Ender's Game (Ender Wiggins Saga (Paperback))",
 "Ender's Shadow",
 'Enemy Women: A Novel',
 'Engaging Men (Red Dress Ink (Paperback))',
 'Engaging The Enemy',
 'Envy',
 'Eragon (Inheritance, Book 1)',
 'Escape the Night',
 'Eternity',
 'Eva Luna',
 'Even Cowgirls Get the Blues',
 'Evening',
 'Evening Class',
 'Every Breath You Take : A True Story of Obsession, Revenge, and Murder',
 'Every Living Thing',
 'Everything Is Illuminated : A Novel',
 "Everything's Eventual : 14 Dark Tales",
 'Exclusive',
 'Executive Orders',
 'Executive Orders (Jack Ryan Novels)',
 'Exit to Eden',
 'Exodus',
 'Extreme Measures',
 'Eye of the Beholder',
 'Eyes of Prey',
 'Eyes of a Child',
 'Eyes of the Dragon',
 'F Is for Fugitive (Kinsey Millhone Mysteries (Paperback))',
 'FIRST WIVES CLUB',
 'FLOOD TIDE',
 'FOREVER : A Novel of Good and Evil, Love and Hope',
 'FORREST GUMP (Movie Tie in)',
 "FROM POTTER'S FIELD",
 'Face the Fire (Three Sisters Island Trilogy)',
 'Fahrenheit 451',
 'Faking It',
 'Fall On Your Knees (Oprah #45)',
 'Fall on Your Knees',
 'Fallen Hearts',
 'Falling Angels',
 'Falling Leaves Brit Edition',
 'Falling Leaves: The True Story of an Unwanted Chinese Daughter',
 'False Memory',
 'False Pretenses',
 'Family Album',
 'Family Blessings',
 'Family Honor',
 'Family: The Ties That Bind and Gag',
 'Farewell To Arms',
 'Farewell to Manzanar: A True Story of Japanese American Experience During and  After the World War II Internment',
 'Farm Fatale: A Comedy of Country Manors',
 'Fast Food Nation: The Dark Side of the All-American Meal',
 'Fast Women',
 'Fat Tuesday',
 'Fatal',
 'Fatal Cure',
 'Fatal Voyage',
 'Fatherhood',
 'Fault Lines',
 'Fear Nothing',
 'Fear and Loathing in Las Vegas : A Savage Journey to the Heart of the American Dream',
 'Feast of All Saints',
 "Felicia's Journey",
 'Female Intelligence',
 'Fever',
 'Fever Pitch',
 'Field of Thirteen',
 'Fierce Invalids Home from Hot Climates',
 'Fight Club',
 'Filthy Rich',
 'Final Appeal',
 'Final Target',

In [64]:
corr_coffey_hands  = corr[coffey_hands]

In [71]:
list(us_canada_book_title[(corr_coffey_hands<1.0) & (corr_coffey_hands>0.85)])

['BAG OF BONES : A NOVEL',
 'Bag of Bones',
 'Carrie',
 'Christine',
 'Cold Fire',
 'Desperation',
 'Different Seasons',
 'Different Seasons (Signet)',
 'Dragonsdawn',
 'Dreamcatcher',
 'Four Past Midnight',
 "Gerald's Game",
 'Hearts In Atlantis : New Fiction',
 'Insomnia',
 'It',
 'Misery',
 'Needful Things',
 'Needful Things: The Last Castle Rock Story',
 'Nightmares &amp; Dreamscapes',
 'Pet Sematary',
 'Rose Madder',
 "Salem's Lot",
 'Shipping News',
 'Skeleton Crew',
 'Stand',
 'Strangers',
 "Tailchaser's Song",
 'The Bachman Books: Rage, the Long Walk, Roadwork, the Running Man',
 'The Dark Half',
 'The Dead Zone',
 'The Face of Fear',
 'The Girl Who Loved Tom Gordon',
 'The Girl Who Loved Tom Gordon : A Novel',
 'The Green Mile: Coffey on the Mile (Green Mile Series)',
 "The Green Mile: Coffey's Hands (Green Mile Series)",
 'The Green Mile: The Bad Death of Eduard Delacroix (Green Mile Series)',
 'The Green Mile: The Complete Serial Novel',
 'The Green Mile: The Mouse on the Mile (Green Mile Series)',
 'The Regulators',
 'The Shining',
 'The Tommyknockers',
 'The Two Dead Girls (Green Mile Series)',
 'Thinner']

In [73]:
recommend1 = us_canada_book_title[(corr_coffey_hands<1.0) & (corr_coffey_hands>0.85)]

In [74]:
recommend1

Index(['BAG OF BONES : A NOVEL', 'Bag of Bones', 'Carrie', 'Christine',
       'Cold Fire', 'Desperation', 'Different Seasons',
       'Different Seasons (Signet)', 'Dragonsdawn', 'Dreamcatcher',
       'Four Past Midnight', 'Gerald's Game',
       'Hearts In Atlantis : New Fiction', 'Insomnia', 'It', 'Misery',
       'Needful Things', 'Needful Things: The Last Castle Rock Story',
       'Nightmares &amp; Dreamscapes', 'Pet Sematary', 'Rose Madder',
       'Salem's Lot', 'Shipping News', 'Skeleton Crew', 'Stand', 'Strangers',
       'Tailchaser's Song',
       'The Bachman Books: Rage, the Long Walk, Roadwork, the Running Man',
       'The Dark Half', 'The Dead Zone', 'The Face of Fear',
       'The Girl Who Loved Tom Gordon',
       'The Girl Who Loved Tom Gordon : A Novel',
       'The Green Mile: Coffey on the Mile (Green Mile Series)',
       'The Green Mile: Coffey's Hands (Green Mile Series)',
       'The Green Mile: The Bad Death of Eduard Delacroix (Green Mile Series)',
       'The Green Mile: The Complete Serial Novel',
       'The Green Mile: The Mouse on the Mile (Green Mile Series)',
       'The Regulators', 'The Shining', 'The Tommyknockers',
       'The Two Dead Girls (Green Mile Series)', 'Thinner'],
      dtype='object', name='bookTitle')

In [78]:
lis1 = recommend1.to_list

In [87]:
import pprint
pp = pprint.PrettyPrinter(indent=4)

pp.pprint(lis1)

<bound method IndexOpsMixin.tolist of Index(['BAG OF BONES : A NOVEL', 'Bag of Bones', 'Carrie', 'Christine',
       'Cold Fire', 'Desperation', 'Different Seasons',
       'Different Seasons (Signet)', 'Dragonsdawn', 'Dreamcatcher',
       'Four Past Midnight', 'Gerald's Game',
       'Hearts In Atlantis : New Fiction', 'Insomnia', 'It', 'Misery',
       'Needful Things', 'Needful Things: The Last Castle Rock Story',
       'Nightmares &amp; Dreamscapes', 'Pet Sematary', 'Rose Madder',
       'Salem's Lot', 'Shipping News', 'Skeleton Crew', 'Stand', 'Strangers',
       'Tailchaser's Song',
       'The Bachman Books: Rage, the Long Walk, Roadwork, the Running Man',
       'The Dark Half', 'The Dead Zone', 'The Face of Fear',
       'The Girl Who Loved Tom Gordon',
       'The Girl Who Loved Tom Gordon : A Novel',
       'The Green Mile: Coffey on the Mile (Green Mile Series)',
       'The Green Mile: Coffey's Hands (Green Mile Series)',
       'The Green Mile: The Bad Death of Eduard Delacroix (Green Mile Series)',
       'The Green Mile: The Complete Serial Novel',
       'The Green Mile: The Mouse on the Mile (Green Mile Series)',
       'The Regulators', 'The Shining', 'The Tommyknockers',
       'The Two Dead Girls (Green Mile Series)', 'Thinner'],
      dtype='object', name='bookTitle')>